/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Navbar */
nav {
    background-color: #333;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

nav ul li a.active {
    color: #161B33;
    text-decoration: none;
    font-weight: bold;
}

/* Section Styles */
.section {
    padding: 60px 0;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Home Section */
.home {
    background-color: #333;
    color: white;
    text-align: center;
}

.home h1 {
    font-size: 3em;
}

/* Projects Section */
.projects .project-card {
    background-color: #fff;
    padding: 20px;

    .projects .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-card {
        width: 33.33%;
        /* Adjust this percentage to control the number of columns */
        max-width: 300px;
        margin: 10px;
        box-sizing: border-box;
    }




    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;

    /* Rounded corners for the card */




    text-align: center;
}

.projects .project-card a {
    display: inline-block;
    padding: 12px 24px;
    background-color: #5D737E;
    /* Button background color */
    color: white;
    text-decoration: none;
    font-weight: 500;
    border-radius: 40px;
    /* Rounded corners for the button */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effects for the button */
.projects .project-card a:hover {
    background-color: #02111B;
    /* color when hovered */
    transform: translateY(-2px);
    /* Slight lift on hover */
}

/* Active state for the button */
.projects .project-card a:active {
    background-color: #02111B;





    /* color when clicked */
    transform: translateY(0);
    /* Button returns to normal position */
}

/* Contact Form */
form {
    display: flex;
    flex-direction: column;
}

/* Projects Section */
.projects .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projects .project-card {
    background-color: #fff;
    padding: 20px;
    width: 33.33%;
    /* Adjust this percentage to control the number of columns */
    max-width: 300px;
    /* Adjust this to your desired maximum width */
    margin: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    text-align: center;
}

.projects .project-card a {
    display: inline-block;
    padding: 12px 24px;
    background-color: #5D737E;
    /* Button background color */
    color: white;
    text-decoration: none;
    font-weight: 500;
    border-radius: 40px;
    /* Rounded corners for the button */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
}

form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}